@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Muscle car</h1>
        
</div>
<div class="text-center">
    <p><h2>Mustang GT500: A incrível versão preparada pela Shelby</h2></p>
    <p>O Ford Mustang Shelby GT500 é um esportivo da série Mustang da Ford. Shelby é a versão mais potente da marca Mustang, sendo uma homenagem a um ex-piloto automobilístico Carroll Shelby, criador do modelo Cobra.</p>

<b>Sobre o carro</b>
<p>Os motores V8 do modelo Shelby são considerados, pela Associação Internacional de Engenheiros Automotivos, como o bloco mais potente do mundo.[1] Começando a partir de um motor V8 de ferro fundido do Mustang Cobra R. Um superalimentador do tipo parafuso com trocador de calor intermediário e com trocador de ar água força o ar dos pistões dentro do cilindro cada um com quatro válvulas. Muitos componentes do motor foram desenvolvidos a partir do Ford GT. A sua transmissão manual de seis marchas com espaço de marchas uniforme consegue aguentar sua força, pois ela é uma transmissão testada e comprovada em corridas, sendo assim, ela trabalha até com folga com este motor, lembrando que o motor possui um limitador de velocidade, que não o deixa ultrapassar os 250 km/h, mas em testes já atingiram a faixa dos 320km/h.</p>

<b>Design</b>
<p>Com seu "velho novo design" em vez do tradicional logotipo, ele vem com cobras prateadas como emblema, ainda assim ele é reconhecível como um Mustang, pois ele tem seu design baseado nos antigos GT500 originais produzidos pela última vez em 1970 e em outros Mustangs Shelby GT500 dos anos 60. De herança dos Mustangs ele tem aberturas no capô, que retiram o calor do compartimento do motor e o spoiler traseiro é uma referência aos primeiros Shelby. E a dupla faixa de carbono em sua lataria tem origem de uma das corridas de Carroll Shelby, que sem tempo para adesivar seu carro, pediu então a sua equipe que fizessem apenas duas faixas, igual a seu macacão.</p>

<b>Suspensão</b>
<p>Sua suspensão dianteira é uma do tipo McPherson independente com braços inferiores em "L" invertido e a traseira de um eixo sólido de três articulações com uma barra Panhard para impedir o movimento lateral. As suspensões traseiras e dianteiras usam barras estabilizadoras para evitar a rolagem da carroceria.</p>

<b>Interior</b>
<p>No seu painel de instrumentos foram trocadas as posições de velocímetro e tacômetro, e todos os seus componentes metálicos foram acetinados e não cromados.</p>

<img src="~/images/Photo01.jpg" />

<br/>

<img src="~/images/Photo02.jpg" height="800" width="1200" />


</div>

